{% extends 'base.html.twig' %}

{% block title %}Eco.Verre{% endblock %}

{% block body %}
    {% block header %}
        <div class="header">
            <img class="image" src="{{ asset('build/img/bg_1.jpg') }}">
            <div class="img-up">
                <a class="title-hp">Eco.Verre</a>
                <a class="v-dispo">Villes prises en charge</a>
            </div>

        </div>
    {% endblock %}
{% endblock %}

