{% extends 'base.html.twig' %}

{% block title %}Eco.Verre{% endblock %}

{% block body %}
    <div class="body-hp">
    {% block header %}
        <div class="header">
            <img class="image" alt="background" src="{{ asset('build/img/bg_1.jpg') }}">
            <div class="img-up">
                <img class="image-logo" src={{ asset('build/img/eco_verre.svg') }}>
                <p class="v-dispo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam risus lectus, fermentum suscipit.</p>
                <div>
                    <a class="js-scrollTo cta-villes" href="#villes">Villes Disponibles</a>
                </div>
            </div>
            <div class="cercle_div">
                <div class="cercle"><img class="cercle_img" alt="scrol down" src={{ asset('build/img/back.svg') }}></div>
            </div>
        </div>

    {% endblock %}


    {% block villes %}

        <div id="villes">
            <img class="ico-recycle" alt="recycle icon" src={{ asset('build/img/recycle-sign.svg') }}>
            <div class="title-villes">
                <p>Les villes disponibles</p>
            </div>
            <div class="text-villes">
                <p class="text-villes-a">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam risus lectus, fermentum suscipit.</p>
            </div>
            <div class="center-cards">
                <div class="cards_ville">
                    <a href="#" class="single_card_ville">
                        <div class="ico-ville"></div>
                        Paris
                    </a>


                    <a href="#" class="single_card_ville">
                        <div class="ico-ville"></div>
                        Paris
                    </a>

                    <a href="#" class="single_card_ville">
                        <div class="ico-ville"></div>
                        Paris
                    </a>
                </div>
            </div>

        </div>

    {% endblock %}

    </div>




{% endblock %}

