{% extends 'base.html.twig' %}

{% block title %}Hello MapController!{% endblock %}

{% block body %}

    <div class="body-map">
        <div class="header">
            <h1>Localisez votre benne</h1>
        </div>
        <div class="content">
            <div class="panel_left">
                <div class="panel">

                </div>
            </div>
            <div class="map">
                <div id="map" style="width: 800px; height: 50vh;"></div>
            </div>
        </div>
    </div>



<style>
    .content{
        width: 100%;
        height: 75vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .panel_left{
        width: 50%;
        height: 75vh;
    }

    .panel{
        width: 100%;
        height: 50vh;
        border: 3px solid rgba(1, 85, 37, 0.3);
    }

    .body-map{
        margin-left: 7%;
        margin-right: 7%;
        margin-top: 10vh;
    }

    .header{
        text-align: center;
        color: rgb(1,85,37);
        font-size: 2em;
    }

    #map{

        zoom: 100%;

    }

</style>


    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet'/>

    <script type="text/javascript">
        mapboxgl.accessToken= 'pk.eyJ1IjoiYXhlbGJhcmJlaHVzc29uIiwiYSI6ImNrNWZlNWE5cTJrMDczbXBnOGI4NTk2MTMifQ.5l3FgdaFC4KAGnfabyT6Kw';
        const map = new mapboxgl.Map({
            container: 'map', // container id
            style: 'mapbox://styles/mapbox/streets-v11', // style URL
            center: [2.358725729465928, 48.85651527246046], // starting position [lng, lat]
            zoom: 9 // starting zoom
        });
    </script>




{% endblock %}