{% extends 'base.html.twig' %}

{% block title %}EcoVerre | Mentions Légales{% endblock %}

{% block body %}

    {% block navbarml %}


    <style>
        .navbar{
            background-color: #154C4A;
        }
    </style>

    {% endblock %}


    <div class="body-ml">
        <div class="title-ml">
            <h1>{% trans %}Mentions Légales{% endtrans %}</h1>
        </div>
        <div class="content-ml">
            <p>{% trans %}Le site {% endtrans %} " <span><a href="">ecoverre.paulosilva.xyz</a></span> " {% trans %}hébergé chez OVH, est édité par EcoVerre {% endtrans %}</p>
            <p>{% trans %}Le directeur de la publication est EcoVerre.{% endtrans %}</p>
            <div class="group">
                <h3>{% trans %}Siége Social{% endtrans %}</h3>
                <p>{% trans %}Dénomination sociale : WebWin{% endtrans %}</p>
                <p>{% trans %}Adresse postale : {% endtrans %}</p>
                <p>{% trans %}Forme juridique : SAS{% endtrans %}</p>
                <p>SIRET : 12345678998745</p>
            </div>


            <div class="group">
                <h3>{% trans %}Propriété intellectuelle {% endtrans %}</h3>
                <p>{% trans %}L’ensemble de ce site relève des législations Françaises et Internationales sur les droits d’auteur et la propriété intellectuelle.
                    Tous les droits de reproduction sont réservés pour les textes et les photographies de ce site. La reproduction de tout ou partie de ce site
                    sur un support électronique ou autre quel qu’il soit, est formellement interdite sauf autorisation écrite de l’auteur, conformément à
                    l’article L 122-4 du Code de la Propriété intellectuelle.{% endtrans %}
                </p>
            </div>


            <div class="group">
                <h3>{% trans %}Crédits photos{% endtrans %}</h3>
                <p>{% trans %}Le contenu photographique du site internet provient du site d’images libres de droit unsplash.com.{% endtrans %}</p>
            </div>


            <div class="group">
                <h3>{% trans %}Liens hypertextes{% endtrans %}</h3>
                <p>{% trans %}Les liens hypertextes mis en place dans le cadre du présent site internet en direction d’autres ressources présentes sur le réseau Internet, et
                    notamment vers ses partenaires ont fait l’objet d’une autorisation préalable, expresse et écrite auprès de l’éditeur.{% endtrans %}</p>
            </div>

            <div class="group">
                <h3>{% trans %}Politique de confidentialité {% endtrans %}</h3>
                <p>{% trans %}En aucun cas, les données recueillies sur le site « ecoverre.paulosilva.xyz » ne seront cédées ou vendues à des tiers. Aucune adresse mail ne sera
                    transmise à des tiers y compris à nos partenaires.{% endtrans %}</p>
            </div>

            <div class="group">
                <h3>{% trans %}Cookies{% endtrans %}</h3>
                <p>{% trans %}Le site que vous visitez utilise des traceurs (cookies). Ainsi, le site est susceptible d’accéder à des informations déjà stockées dans votre équipement,
                    terminal de communications électroniques et d’y inscrire des informations. Les traceurs utilisés par le site relèvent de deux catégories :{% endtrans %}</p>
                <li style="margin-left: 2%">{% trans %}Traceurs dits strictement nécessaires, qui ne nécessitent pas votre consentement préalable,{% endtrans %}</li>
                <li style="margin-left: 2%">{% trans %}Autres traceurs soumis à votre consentement préalable. {% endtrans %}</li>
                <br>
                <h4 style="margin-left: 1%">{% trans %}1.Traceurs exemptés de consentement préalable.{% endtrans %}</h4>
                <p>{% trans %}Nous utilisons ces traceurs pour permettre ou faciliter la communication par voie électronique. Ces traceurs ne peuvent pas, techniquement,
                    être désactivés depuis le site. Vous pouvez néanmoins vous opposer à l’utilisation de ces traceurs, exclusivement en paramétrant votre
                    navigateur. Ce paramétrage dépend du navigateur que vous utilisez, mais il est en général simple à réaliser : en principe,
                    vous pouvez soit activer une fonction de navigation privée soit uniquement interdire ou restreindre les traceurs (cookies).
                    Attention, il se peut que des traceurs aient été enregistrés sur votre périphérique avant le paramétrage de votre navigateur : dans ce cas,
                    effacez votre historique de navigation, toujours en utilisant le paramétrage de votre navigateur.{% endtrans %} </p>
                <br>
                <h4 style="margin-left: 1%">{% trans %}2.Traceurs soumis à votre consentement préalable.{% endtrans %}</h4>
                <p>{% trans %}Ces traceurs sous le contrôle de tiers sont utilisés pour réaliser des statistiques anonymes. Le tableau ci-dessous liste les traceurs sous le
                    contrôle de tiers qui sont soumis à votre consentement préalable.{% endtrans %}</p>

                <p>{% trans %}L’utilisation des traceurs est régie par l’article 32 II de la loi n°78-17 du 6 janvier 1978,transposant l’article 5.3 de la directive 2002/58/CE
                    du parlement européen et du conseil du 12 juillet 2002 modifiée par la directive 2009/136/CE.
                    Pour en savoir plus sur les cookies et traceurs, nous vous invitons à consulter le site de la CNIL : www.cnil.fr.{% endtrans %} </p>
            </div>
            <br>
            <br>
            <br>
            <br>

        </div>
    </div>


{% endblock %}
