{% extends 'base.html.twig' %}

{% block title %}Hello MapWayController!{% endblock %}

{% block body %}

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet'/>
    <script type="text/javascript">
        var coords = [
            [4.141553499740439, 44.052572457451014],
            [4.143273931900012, 44.05242402365157],
            [4.14427862409957, 44.05275366184478],
            [4.145185210746604, 44.05318932120335],
            [4.143211104911643, 44.053065948966925],
            [4.141692974609214, 44.05368666292508],
            [4.142165043395835, 44.05420327703502]
        ];

        var accessToken = 'pk.eyJ1IjoiYXhlbGJhcmJlaHVzc29uIiwiYSI6ImNrNWZlNWE5cTJrMDczbXBnOGI4NTk2MTMifQ.5l3FgdaFC4KAGnfabyT6Kw';
        mapboxgl.accessToken = accessToken;
        //on initialise notre map sur le div #map
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v10',
            center: [4.141056, 44.050022399999996], //un centre initial [longitude, latitude] (facultatif)
            zoom: 13 //un zoom initial (facultatif)
        });
        //au chargement de la map
        map.on('load', function () {
            //on recadre la carte en fonction de nos différents points GPS
            fitMap(map, coords);
            //on affiche le tracé reliant nos différents points GPS
            displayJourney(map, coords);
            //on affiche l'itinéraire routier correspondant à nos points GPS
            displayJourneyReshaped(map, coords);
            //on affiche des marqueurs à la position de nos points GPS, indiquant leur numéros et recentrant la carte sur eux au clic.
            placeMarkers(map, coords);
        });


    </script>
    <div id="map" style="width: 100%; height: 400px;"></div>


{% endblock %}
