<div class="footer">
    <a href="" class="link-footer"><div class="text-footer">Nous Contacter</div></a>
    <a href="" class="link-footer"><div class="text-footer">Mentions Légales</div></a>
</div>

