<div class="navbar">
    <img alt="logo" class="logo-nav" src= {{ asset('build/img/eco_verre.svg') }} >
    <div class="link-nav">
        <a href="" class="link-nav-a">
            <div class="text-link">Signaler un probléme</div>
        </a>
    </div>
</div>