<div class="navbar">
    <div class="ico-site"></div>
    <div class="link-nav">
        <a href="" class="link-nav-a">
            <div class="text-link">Localiser benne</div>
        </a>
    </div>
</div>