<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block style %}
            <link rel="stylesheet" href="{{ asset('build/css/footer.css') }}">
            <link rel="stylesheet" href="{{ asset('build/css/navbar.css') }}">
            <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
        {% endblock %}
    </head>
    <body>



    {% block navbar %}
        {% include 'common/navbar.html.twig' %}
    {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}


    {% block footer %}
        {% include 'common/footer.html.twig' %}
    {% endblock %}
    </body>
</html>
